<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/estilosIndex.css">
</head>
<body>
<div class="container">
    <div class="title">Python - Ejercicios semana 5</div>

    <div class="card-container">
        <div class="card">
            <div class="card-title">Ejercicio 1 - IMC</div>
            <div class="card-text">
                <p>Para calcular el indice de masa corporal, modifica la url base, añadiendo:<br><br>
                    /ejercicio1/peso/altura.<br><br>Donde peso y altura son dos numeros decimales<br><br>
                    Por ejemplo:<br><br><a href="http://127.0.0.1:5000/ejercicio1/82.0/1.80">
                        http://127.0.0.1:5000/ejercicio1/82.0/1.80 </a>
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-title">Ejercicio 2</div>
            <div class="card-text">
                <p>Para determinar el numero mayor de los 3 numeros ingresados, modifica la url base, añadiendo:<br><br>
                    /ejercicio2/numero1/numero2/numero3.<br><br>Donde numero1 , numero2 y numero 3 son los 3 numeros a evaluar<br><br>
                    Por ejemplo:<br><br><a href="http://127.0.0.1:5000/ejercicio2/230/150/450">
                        http://127.0.0.1:5000/ejercicio2/230/150/450 </a>
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-title">Ejercicio 3</div>
            <div class="card-text">
                <p>Para mostrar la tabla de multiplicar, modifica la url base, añadiendo: <br><br>/ejercicio3/numero.<br><br> Donde numero corresponde al valor que se utilizara para generar la tabla de multiplicar<br><br>
                    Por ejemplo:<br><br><a href="http://127.0.0.1:5000/ejercicio3/2">
                        http://127.0.0.1:5000/ejercicio3/2 </a>
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-title">Ejercicio 4</div>
            <div class="card-text">
                <p>Para mostrar el promedio y el estado del estudiante , modifica la url base, añadiendo:<br><br>
                    /ejercicio4/nota1/nota2/asis.<br><br>
                    Donde nota1 y nota 2 corresponden a las calificaciones y asis a la asistencia del estudiante<br><br>
                    Por ejemplo:<br><br><a href="http://127.0.0.1:5000/ejercicio4/40/50/80">
                        http://127.0.0.1:5000/ejercicio4/40/50/80 </a>
                </p>
            </div>
        </div>
    </div>


</body>
</html>